.services {
  background-color: #000;
  color: #fff;
  .container {
    padding-block: 6rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  &__slider {
    padding-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;

    &-wrapper {
      padding: 2rem 4rem;
      width: 100%;
      min-height: 42rem;
      border: 1px solid $clr-gray-light;

      display: flex;
      flex-direction: column;
    }

    img {
      width: 5rem;
      height: 5rem;
    }

    h3 {
      width: 80%;
      margin-block: 1.6rem;
      font-size: 3.2rem;
      text-transform: capitalize;
      font-family: "Cormorant Garamond", serif;
      word-wrap: break-word;
    }

    p {
      width: 90%;
      font-size: 1.8rem;
      line-height: 2.3rem;
    }
  }

}

.services__slider-wrapper--mob-switch {
  display: none;
}

.services__slider--mob {
  display: none;
}

.services__more.services {
  padding-top: 0;
  background-image: none;
  
  &::after {
    display: none;
  }
  
  .container {
    padding-top: 0;
    min-height: unset;
  }

  .services__slider {
    padding-bottom: 0;
  }
  
  .services__grid {
    margin-bottom: 3.2rem;
    overflow: hidden;
    max-height: 200rem;
    transition: all 0.3s ease-in-out;

  }
  .services__grid.hidden {
    max-height: 0;
  }
}

.btn-show-less-js {
  margin-bottom: 4rem;
  display: none;
}

.btn-cta {
  padding-inline: 3.2rem;
  height: 4.3rem;
  border: none;
  background-color: #fff;
  color: #000;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.btn-cta:hover {
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  transform: scale(1.1);
}
.btn-cta--mob {
  display: none;
}
.services__slider-wrapper.none {
  display: none;
}

@media only screen and (max-width: 1520px) {
  .services {
    .container {
      padding-inline: 6rem;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .services__more {
    display: none;
  }
  .services__slider {
    grid-template-columns: repeat(2, 1fr);
    &-wrapper {
      min-height: 38rem;
    }
    &-wrapper.none {
      display: flex;
    }
  }
  .services__slider--mob {
    display: grid;
    overflow: hidden;
    max-height: 200rem;
    transition: all .3s ease-in-out;
  }
  .services__slider--mob.hidden {
    max-height: 0;
    padding-bottom: 0;
  }
  .btn-cta--mob {
    margin-bottom: 4rem;
    display: block;
  }

  .btn-less-mob-js {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .services {
    .container {
      padding-inline: 4rem;
    }
  }
  .services__slider {
    grid-gap: 2rem;

    &-wrapper {
      p {
        line-height: 2.7rem;
      }
    }
    }
  }

  @media only screen and (max-width: 768px) {
    .section-title {
      width: 80%;
      font-size: 5rem;
    }
    .services__slider {
      grid-template-columns: 1fr;

      &-wrapper.none {
        display: none;
      }
      &-wrapper {
        margin-inline: auto;
        align-items: center;
        text-align: center;
        width: 80%;

        h3 {
          font-size: 3.8rem;
        }
    }
  }
  .services__slider--mob {
    max-height: 350rem;
  }
  .services__slider-wrapper--mob-switch {
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  .services {
    h2 {
      font-size: 4.5rem;
    }
  }
  .services__slider {
    grid-row-gap: 4rem;
    &-wrapper {
      width: 100%;
      min-height: 30rem;

      h3 {
        font-size: 3.2rem;
      }
      p {
        font-size: 1.6rem;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .services {
    .container {
      padding-inline: 2rem;
      padding-top: 2rem;
    }
    &__slider {
      grid-row-gap: 2rem;
    }
  }
}