.services {
  background-color: #000;
  color: #fff;
  .container {
    padding-block: 6rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  &__slider {
    padding-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;

    &-wrapper {
      padding: 2rem 4rem;
      height: 42rem;
      border: 1px solid $clr-gray-light;

      display: flex;
      flex-direction: column;
    }

    img {
      width: 5rem;
      height: 5rem;
    }

    h3 {
      width: 80%;
      margin-block: 1.6rem;
      font-size: 4.2rem;
      text-transform: capitalize;
      font-family: "Cormorant Garamond", serif;
    }

    p {
      width: 90%;
      font-size: 1.8rem;
      line-height: 2.3rem;
    }
  }

}

.services__more.services {
  padding-top: 0;
  background-image: none;
  
  &::after {
    display: none;
  }
  
  .container {
    padding-top: 0;
    mix-blend-mode: unset;
    min-height: unset;
  }

  .services__slider {
    padding-bottom: 0;
  }
  
  .services__grid {
    margin-bottom: 3.2rem;
    overflow: hidden;
    max-height: 200rem;
    transition: all 0.3s ease-in-out;

  }
  .services__grid.hidden {
    max-height: 0;
  }
}

.btn-show-less-js {
  margin-bottom: 4rem;
  display: none;
}

.btn-cta {
  padding-inline: 3.2rem;
  height: 4.3rem;
  border: none;
  background-color: #fff;
  color: #000;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.btn-cta:hover {
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  transform: scale(1.1);
}
.services__slider-wrapper.none {
  display: none;
}

@media only screen and (max-width: 1520px) {
  .services {
    .container {
      padding-inline: 6rem;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .services__more {
    display: none;
  }
  .services__slider {
    grid-template-columns: repeat(2, 1fr);
    &-wrapper.none {
      display: block;
    }
  }
}