.services {
  padding-block: 10rem;
  position: relative;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    margin-bottom: 5rem;
    width: 50%;
    text-align: center;
    font-size: 6rem;
    font-family: "Cormorant Garamond", serif;
  }

  &__slider {
    width: 100%;
    height: 100%;
    
    &-wrapper {
      padding: 2rem 4rem;
      height: 30rem;
      border: 1px solid $clr-gray-light;

      display: flex;
      flex-direction: column;
    }

    img {
      width: 5rem;
      height: 5rem;
    }

    h3 {
      width: 80%;
      margin-block: 1.6rem;
      font-size: 4.2rem;
      text-transform: capitalize;
      font-family: "Cormorant Garamond", serif;
    }

    p {
      width: 90%;
      font-size: 1.8rem;
      line-height: 2.3rem;
      color: $clr-gray;
    }

    &-next-btn.navBtn {
      width: 3.2rem;
      height: 3.2rem;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 10;
    }

    &-prev-btn.navBtn {
      width: 3.2rem;
      height: 3.2rem;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%) rotateY(-180deg);
      cursor: pointer;
      z-index: 10;
    }
  }
}