.container {
  margin-inline: auto;
  max-width: 1440px;
}

.none {
  display: none;
}

.section-title {
  margin-bottom: 5rem;
  width: 50%;
  text-align: center;
  font-size: 6rem;
  font-family: "Cormorant Garamond", serif;
}